%h1 Henry's Blog Admin

%br/

= link_to 'New Post', new_post_path 

%br/
%br/

%h3 Current Posts
- @posts = Post.all
- @posts.each do |post| 
  .posts  
    .post-title
      = post.title 
    .post-content
      =truncate( post.content,:length => 300)
    .post-author 
      = post.name 
    = link_to 'Read More', post 
    = link_to 'Edit', edit_post_path(post) 
    = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } 

 


%br/ 

