%h1 Henry's Blog Admin

%br/

= button_to 'New Post', new_post_path 


%h3 Current Posts
#adminposts
  - @posts = Post.all
  - @posts.each do |post| 
    .posts  
      .post-title
        = post.title 
      .post-content
        =truncate( post.content,:length => 600)
      .post-author 
        = post.name
        = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
    = button_to 'Read More', post
    = button_to 'Edit', edit_post_path(post) 
    = button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } 

 
= button_to "My Programming Schedule", programming_path


-if current_user
  %span logged in as
  = current_user.email
  = link_to 'log out', logout_path
-else 
  = form_tag sessions_path do
    = label_tag :email
    = text_field_tag :email
    = label_tag :password
    = password_field_tag :password
    = submit_tag "log in"



%br/ 

