= image_tag "MoreButton.png", :style => "max-height: 100px; max-width: 100px;"
/ = link_to about_path image_tag "MoreButton.png", :style => "max-height: 100px; max-width: 100px;"

= image_tag "titlebox.png"

= link_to "My Programming Schedule", programming_path

=# link_to 'New Post', new_post_path 

%p 
-# #henry test
-# .will will

/ = image_tag "Stoic3.jpg"
= image_tag "yellowlogo.jpeg"
= image_tag "silverlogo.jpeg"
= image_tag "brownlogo.jpeg"
.img_caption Hacking life with Stoic Philosophy

= image_tag "footer.png"
= image_tag "footer2.png"
= image_tag "Footer3.png"
= image_tag "Footer4.png"


%p

- @posts.each do |post| 
  
  .posts  
    .post-title
      = link_to post.title, post
    .post-author 
      = post.name 
    .post-content
      =truncate( post.content,:length => 300)
    = link_to 'Read More', post 
    =# link_to 'Edit', edit_post_path(post) 
    =# link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } 
 

%br
%br
%br
%br
%br

-if current_user
  %span logged in as
  = current_user.email
  = link_to 'log out', logout_path
-else 
  = form_tag sessions_path do
    = label_tag :email
    = text_field_tag :email
    = label_tag :password
    = password_field_tag :password
    = submit_tag "log in"
  = link_to "or sign up", new_user_path
