
#more_button

.center
  = image_tag "titlebox.png"
  = image_tag "stoic hacks logo.png"


/ = link_to image_tag, about_path, id: "more_button"
/ = link_to about_path image_tag "MoreButton.png", :style => "max-height: 100px; max-width: 100px;"

%h3 Hey there

%p I'm a 28 year old philosophy student and entrepreneur who believes that philosophy has practical applications in life, in business, in getting things done, and in creating extraordinary value and contributions to the world.

= link_to "My Programming Schedule", programming_path

=# link_to 'New Post', new_post_path 

%p 
-# #henry test
-# .will will


.img_caption Hacking life with Stoic Philosophy



%p

- @posts.each do |post| 
  
  .posts  
    .post-title
      = link_to post.title, post
    .post-author 
      = post.name 
    .post-content
      =truncate( post.content,:length => 300)
    = link_to 'Read More', post 
    =# link_to 'Edit', edit_post_path(post) 
    =# link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } 
 

%br
%br
%br
%br
%br

-if current_user
  %span logged in as
  = current_user.email
  = link_to 'log out', logout_path
-else 
  = form_tag sessions_path do
    = label_tag :email
    = text_field_tag :email
    = label_tag :password
    = password_field_tag :password
    = submit_tag "log in"


