
.row-fluid
  .span12
    .span6
      #titlebox
        = image_tag "widetitlebox.png"      
    .span6
      = link_to index_path do
        #homelogo
    .span4
  .infobox
    .infotext I'm a 28-year-old web developer and amateur philosophy student who believes that philosophy has practical applications in life and in business. I live in Berlin, Germany.
    = link_to about_path do 
      #more_button
  .span6.offset6
    #epictetusbox
      #epictetustext In every affair consider what precedes and follows, and then undertake it. Otherwise you will begin with spirit; but not having thought of the consequences, when some of them appear you will shamefully desist. You will behave like children who sometimes play like wrestlers, sometimes gladiators, sometimes blow a trumpet, and sometimes act a tragedy when they have seen and admired these shows. Thus you too will be at one time a wrestler, at another a gladiator, now a philosopher, then an orator; but with your whole soul, nothing at all.
    #epictetusphoto   
  .span12
    .span6
      #homeposts
        %p
        - @posts.each do |post| 
          .posts  
            .post-title
              = link_to(post.title, post)
            .post-author 
              = post.name + " -"
              = post.created_at.strftime("%d %b %Y")
            %p
              - if post.watercolor.file?
                = image_tag post.watercolor.url(:medium)
            .post-content
              = truncate_html(post.intro, length: 10000, omission: '...', separator: '-MORE-')
              = image_tag post.watercolor.url(:medium)
            = link_to 'Read More', post
            %br
            = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
          %br
        = paginate @posts 

   

%br
%br
%br
%br
%br


