<head>
<link rel="stylesheet" type="text/css" href="henrystyle.css">
</head>


<h1>Henry van Wagenberg's blog</h1>
<img src="http://upload.wikimedia.org/wikipedia/commons/d/d7/Caspar_David_Friedrich_Landscape_in_the_Riesengebirge.jpg" />



<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'read', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
